body{
    font-family: 'Roboto', sans-serif;
    background-color: #EFECEC;
}

@media (max-width: 768px) {
    .carousel-caption {
        position: absolute;
        right: 15%;
        bottom: 35%;
        left: 3%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        color: #fff;
        width: 75%;
    }
}