body{
    font-family: 'Roboto', sans-serif;
    background-color: #EFECEC;
}
@media (min-width: 768px) {
	.wrapper {
		max-width: 1024px;
		margin-left: auto;
		margin-right: auto;
	}
}
.img-reponsive-tecnology{
    width: 60%;
    max-height: auto;
}
@media (max-width: 768px) {
    .carousel-caption {
        position: absolute;
        right: 15%;
        bottom: 35%;
        left: 3%;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        color: #fff;
        width: 75%;
    }
    .img-reponsive-tecnology{
        width: 50%;
        max-height: auto;
    }
}

.titleSmall {
    font-size: calc(1.1rem + 0.8vw);
    font-weight: 300;
    font-style: italic;
  }

@media (min-width: 1200px) {
.titleSmall {
    font-size: 1.2rem;
}
}

.img-fluid-height {
    max-width: 80%;
    height: 80%;
}
.bg-gray{
    background-color: #9fa4aa;
}
.dark-theme .bg-gray{
    background-color: #1E1559;
}

